<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "container">
		<nav>
			<ul class = "nav nav-navbar">
				<li> <%= link_to "Home",   root_path %> </li>
				<li> <%= link_to "About Us", about_path %> </li>
				<li> <%= link_to "Contact Us", contact_path %> </li>
				<li> <%= link_to "Help", help_path %> </li>
			</ul>
		</nav>
	</div>
</header>